/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2b2024;
    font-weight: normal;
}
*::after{
    box-sizing: border-box;
}
*::before{
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

body{
    border: 1px solid #2b2024;
}
::-webkit-scrollbar{
    /*scroll滚动条设置*/
    width: 0px; height: 0px;
    background-color: #fbf9fa;  
}
/** layout **/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28vh;
}
.header::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28vh;
    background: url('../image/songBackground.jpg') no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}
.header::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(0,0,0,.25);
    height: 28vh;
    width: 100%;
    z-index: -1;
}
.header .content{
    width: 55vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header .imgCover{
    display: inline-block;
    width: 30vw;
}
.header .title{
    display: inline-block;
    font-size: 17px;
    color:#2b2024;
    margin-top: 5px;
}
.header .signLink{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.header .signLink .logo_miu{
    width: 20vw;
}
.header .signLink .cloudMusic{

    font-size: 14px;
    color: hsla(0,0%,100%,.7);
    line-height: 14px;
}
.header .signLink .sign{
    background: url('../image/1420569024374784.webp') no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.words{
    margin: 0 10px 0 15px;
    padding-top: 10px;
    color: #666;
    font-size: 14px;
}
.words .tag span{
    border: 1px solid rgba(0,0,0,.1);
    height: 22px;
    line-height: 22px;
    border-radius: 22px;
    margin: 0 5px;
    padding: 0 8px;
    text-align: center;
}
.words .introduce{
    padding-bottom: 18px;
}
.words .introduce .enjoy{
    overflow: hidden;
    text-overflow: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.listSong{
    font-size: 12px;
    color: #666;
    height: 23px;
    line-height: 23px;
    background: #eeeff0;
    padding-left: 10px;
}


.musicList li{
    position: relative;
    height: 56px;
    padding-right: 42px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.musicList li a{
    display: flex;
    color: #333;
    width: 100%;
    height: 100%;
}
.musicList li .musicNum{
    display: inline-block;
    width: 28px;
    height: 55px;
    line-height: 55px;
    color: inherit;
    align-items: center;
}

.musicList li .musicInfo{
    height: 100%;
    width: 79vw;
    padding: 6px 0;
}
.musicList li .musicName{
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.musicList li .quality{
    width: 12px;
    height: 8px;
    display: inline-block;
    background: url('../image/sq.png') no-repeat;
    background-size: 150px 100px;
    background-position: 0 0;
}
.musicList li .begin{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    width: 22px;
    height: 22px;
    background: url('../image/sq.png') no-repeat;
    background-size: 166px 97px;
    background-position: -24px 0;
}
.musicList li .author{
    display: inline-block;
    font-size: 12px;
    color: #888;
}